[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = git://github.com/russiankohana/kohana-jelly.git
[submodule "modules/modules"]
	path = modules/modules
	url = git://github.com/russiankohana/kw-modules.git
[submodule "modules/core"]
	path = modules/core
	url = git://github.com/russiankohana/kw-core.git
[submodule "modules/i18n"]
	path = modules/i18n
	url = git://github.com/russiankohana/kw-i18n.git
[submodule "modules/github"]
	path = modules/github
	url = git://github.com/ahutchings/kohana-github.git
