[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = http://github.com/kohana/userguide.git
[submodule "modules/translations"]
	path = modules/translations
	url = git://github.com/russiankohana/i18n.git
